{% extends 'base.html.twig' %}

{% block title %}Hello Ex01Controller!{% endblock %}

{% block content %}
    <h1>Ex01 : create a table with ORM !</h1>
    <p>Bienvenue sur l'ex01 ! On va créer la table "ex01_users" !</p>
    <form method="POST" action="/ex01/create_table">
        <button type="submit">Créer la table ex01_users</button>
    </form>
{% endblock %}