{% extends 'base.html.twig' %}

{% block title %}Hello Ex00Controller!{% endblock %}

{% block content %}
    <h1>Ex00 : create a table with SQL !</h1>
    <p>Bienvenue sur l'ex00 ! On va créer la table "ex00_users" dans la base de données Day_05db !</p>
    <form method="POST" action="/ex00/create_table">
        <button type="submit">Créer la table ex00_users</button>
    </form>
{% endblock %}
